.app-title {
  padding: 0.3em 0.6em; /* da ima prostora oko teksta */
  border-radius: 6px;   /* malo zaobljeni rubovi */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.app-title:hover {
  background-color: #121212d6;
  color: #ffffff; /* da tekst ostane čitljiv na tamnoj pozadini */
}