.app-title {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #121212; /* Odabrana tamna nijansa */
  color: white; /* Osigurava čitljivost teksta na tamnoj pozadini */
  padding: 10px 0;
  margin: 0;
  text-align: center;
}


.app-title:hover {
  background-color: #121212d6; 
}