.image-carousel {
  width: 600px; /* Postavite željenu širinu karusela */
  height: 400px; /* Postavite željenu visinu karusela */
  overflow: hidden; /* Sprječava prikazivanje dijelova slike izvan kontejnera */
  position: relative; /* Potrebno za apsolutno pozicioniranje strelica unutar ovog kontejnera */
}

.image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  display: flex;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center;     /* Vertikalno centriranje */
  padding-bottom: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0; /* Strelice su inicijalno nevidljive */
  transition: opacity 0.5s ease; /* Glatka tranzicija prilikom promjene prozirnosti */
}

.image-carousel:hover .swiper-button-prev,
.image-carousel:hover .swiper-button-next {
  opacity: 1; /* Strelice postaju vidljive kada je miš iznad karusela */
}
